{% extends "layout.njk" %}

{% block content %}

  {% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Aulas</title>

  {% endblock %}

  <h1 class="title">Aulas</h1>
  <section class="content">

    {% for item in itens %}
      <div class="card" id="{{item.id}}">
        <div class="card-image">
          <img class="img" src="{{item.image}}" alt="card-1"/>
        </div>
        <div class="card-info">
          <p>{{item.info}}</p>
        </div>
      </div>
    {% endfor %}
  </section>
  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <span class="material-icons">
          close
        </span>
      </a>
      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>
{% endblock %}

<footer class="links">
  <p>
    <a href="https://github.com/Arlin-Mafra" target="_blank">GitHub</a>
  </p>
</footer>
</body>
</html>
