{% extends "layout.njk" %}

{% block content %}

  {% block head %}

    <title>Personal Page</title>
  {% endblock %}

  <div id="personal">
    <img src="/favicon/capa.jpg" alt="Foto de capa"/>
    <h1>Arlin César Mafra</h1>
    <h2>Programador javascript fullstack</h2>
  </div>

{% endblock %}

<footer class="links">
  <p>
    <a href="https://github.com/Arlin-Mafra" target="_blank">GitHub</a>
  </p>
</footer>
</body>
</html>
